<script type="text/javascript">
  window.onload = function() {
    updateCountdown();
    setInterval(updateCountdown, 100);
  }
  function updateCountdown() {
    var span = document.querySelector('#countdown');
    var weddingDate = new Date(2016, 2, 12, 14, 00);
    var now = Date.now();
    var diff = weddingDate - now;
    span.textContent = millisecondsToStr(diff);
  }
  function millisecondsToStr(ms) {
    var days = Math.floor(ms / (1000 * 60 * 60 * 24));
    ms -= days * (1000 * 60 * 60 * 24);
    var hours = Math.floor(ms / (1000 * 60 * 60));
    ms -= hours * (1000 * 60 * 60);
    var mins = Math.floor(ms / (1000 * 60));
    ms -= mins * (1000 * 60);
    var seconds = Math.floor(ms / 1000);
    ms -= seconds * 1000;
    if (ms < 10) {
      ms = '00' + ms;
    } else if (ms < 100) {
      ms = '0' + ms;
    }
    return days + ' days ' + hours + ':' + mins + ':' + seconds;
  }
</script>


<div class="row">
  <div class="col-md-6 col-md-offset-3 text-muted footer-text fancy-font">
    <h3><i class="glyphicon glyphicon-time"></i> <span id="countdown" class="countdown"></span> until we are married!</h3>
  </div>
  <!-- <div class="col-md-4 text-muted">
    <p>{{ site.description }}</p>
  </div> -->
</div>
